@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1
a:hover
  text-decoration: none
  
body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.3
	font-family: $default-font
	overflow-x: hidden
	opacity: 1

.img-responsive
	display: block
	max-width: 100%
	height: auto

a.button
	display: block
	text-decoration: none
	text-transform: uppercase
	color: #000
	background-color: $btn-green
	border-radius: 5px
	font-family: MyriadPro-BoldCond, sans-serif

// Autor's Styles

/* === HEADER === */
header
  min-height: 80px

header .row
  padding: 10px 0

header .logo
  margin: 5px 0 0 200px

header .logo-desc
  color: $accent
  margin: 5px 0 0 0

header a.button
  max-width: 340px
  padding: 5px 20px 0
  text-align: center
  font-weight: bold
  font-size: 42px
  float: right
  line-height: 1.3

section#banner
  min-height: 1040px
  background: $accent url('../img/handWithIphone_cr.png') bottom left no-repeat
  padding-top: 75px

.banner-header
  margin: 0
  padding: 0
  text-align: center
  & div
    color: #fff
    font-family: 'MyriadPro-Bold', sans-serif
    font-size: 30px
    text-align: left
    span
      display: block
      float: left
      width: 350px
      margin-left: 15px
      margin-top: -10px
      line-height: 1.3
    .banner-header-icon-1
      float: left
      display: block
      background: url("../img/banner-list-icon-1.png") no-repeat
      width: 82px
      height: 48px
    .banner-header-icon-2
      float: left
      margin-right: 10px
      display: block
      background: url("../img/banner-list-icon-2.png") no-repeat
      width: 42px
      height: 42px
    .banner-header-icon-3
      float: left
      margin-right: 10px
      display: block
      background: url("../img/banner-list-icon-3.png") no-repeat
      width: 51px
      height: 45px

.form-box
  background-color: $orange
  text-align: center

/* === SERVICES === */
section#services
  min-height: 970px
  background: url("../img/bg-services.png") no-repeat
  background-size: cover
  text-align: center
  padding-top: 140px
  .row
    margin-bottom: 20px
  & .services-icon-desc
    font-family: $myriadBold
    font-size: 30px
    text-transform: uppercase
  h2.services-bottom
    margin-top: 180px
    text-transform: uppercase
    font-family: $myriadBold
    font-size: 52px
    margin-bottom: 0

/* === HELP US === */
.helpUs-box
  min-height: 180px
  margin: 0
  color: #fff
  background-color: $orange
  padding-left: 70px
  &:nth-of-type(1)
    background-color: $accent
  h3
    font-family: $myriadBold
    font-size: 36px
    text-transform: uppercase

.helpUs-img
  padding: 0
  img
    width: 100%

#helpUs
  .write-blank
    margin: 50px 0 70px
  .button
    font-family: 'MyriadPro-BoldCond', sans-serif
    font-size: 60px
    text-align: center
    padding: 20px
    border-bottom: 8px solid #35551f
    transition: background-color .3s ease
  .button:hover
    transition: background-color .3s ease
    background-color: #69bb22

/* === CONDITIONS === */
#conditions
  background-color: #e7edf3
  min-height: 900px
  padding: 105px 0
  .col-md-4.col-lg-4
    min-height: 420px
    background-color: #ffffff
    border: 1px solid #ccd5df
    border-radius: 3px
    text-align: center
    margin-bottom: 75px
    h3
      font-size: 30px
      text-transform: uppercase
      color: #818b95
      font-weight: normal
      border-bottom: 1px solid #ccd5df
      padding-bottom: 50px
    p
      font-size: 18px
      border-bottom: 1px solid #ccd5df
      padding-bottom: 20px
  & .conditions-text
    text-align: center
    max-width: 890px
    font-size: 30px
    margin: 0 auto 50px
  &  a.button
    max-width: 615px
    font-family: 'MyriadPro-BoldCond', sans-serif
    font-size: 60px
    text-align: center
    background-color: $orange
    border-bottom: 8px solid #94611e
    padding: 20px 0
    transition: background-color .3s ease
  & a.button:hover
    transition: background-color .3s ease
    background-color: #ff952d


/* === CONDITION GET CREDIT */
#cond-get-credit
  padding: 40px 0
  padding-left: 5%
  background: url("../img/money-in-hand.png") no-repeat center right
  h2
    text-transform: uppercase
    font-family: $myriadBold
    font-size: 30px

/* === FOOTER === */
footer
  background-color: $accent
  padding: 15px 0 0 0
  & .footer-logo a
    text-decoration: none
  & .footer-logo p
    color: #fff
    margin-top: -4px
  & .footer-logo
    margin-left: 5%
  & .footer-logo span
    font-size: 38px
    display: block
    color: #fff
    margin: -36px 0 0 115px
    text-transform: uppercase

/* === MAIN CONTACTS === */
main
	background-color: $accent
	min-height: 600px

main .container .row
  margin: auto
  & .our-contacts
    color: #fff
    min-width: 750px
    margin: 95px 0 0 325px
  & .our-contacts h2
    font-size: 33px
    font-family: $default-font
  & .our-contacts .bold
    font-weight: bold

footer.bd-top-white
  border-top: 4px solid #fff
  & a
    display: block
    margin-bottom: -20px

.footer-link-contacts
  float: right
  display: block
  color: #fff
  border-bottom: 1px dashed #fff
  padding: 0
  margin-top: 20px
  font-size: 17px

@import "media" // Всегда в конце
